body
{
	background-color: rgb(255,255,255);
	font-family: verdhana;
}
pre
{
	font-weight: bold;
	font-size: 22px;
}
#outer
{
	width: 100%;
	height: 550px;
	border: 4px solid black;
}
.codebox
{
	height: 420px;
	color: white;
	margin-top: 5px;
	margin-left: 5px;
	padding-left: 5px;
	border: 3px solid black;
	resize: none;
	width: 48%;
	float: left;
	background-color: rgb(0,0,0);
}
#testcase
{
	height: 50px;
	margin-left: 5px;
	padding-top: 10px;
	margin-top: 3px;
	border: 3px solid black;
	width: 48%;
	background-color: lightgrey;
}
input
{
	border-color: black;
	box-sizing: 15px;
	margin-top: 25px;
	font-size: 15px;
}
textarea
{
	font-size: 25px bold;
}